.header {}

.header .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    height: 80px;
    margin: 0 auto;
}

.header h1 img {
    height: 60px;
}

.gnb ul {
    display: flex;
    gap: 40px;
}

.main-visual {
    position: relative;
    height: 700px;
    background: url(../images/64e55237bdd9a.jpg);
}

.main-visual .tit {
    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);

    width: 1200px;

}

.main-visual .tit h2 {
    margin: 0 0 24px 0;
    font-size: 56px;
    font-weight: 800;
    color: #fff;
}

.main-visual .tit p {
    font-size: 24px;
    font-weight: 300;
    color: #fff;
    text-shadow: 0 0 2px #333;
}

.main-content {
    padding: 80px 0;
}

.main-content .tit {
    margin: 0 0 40px 0;
}

.main-content .tit h2 {
    font-size: 40px;
    font-weight: 800;
    margin: 0 0 16px 0;
    text-align: center;
}

.main-content .tit p {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.main-content .inner {
    display: flex;
    justify-content: center;
    gap: 160px;
    width: 1200px;
    margin: 0 auto;
}

.main-content .inner .itm {
    position: relative;
}

.main-content .inner .itm~itm::before {
    content: "";
    position: absolute;
    left: -80px;
    width: 1px;
    height: 100%;
    background: #ddd;
}